* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1a180c;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Noto Sans JP', sans-serif;
} 
h1 {
    font-size: 50px;
    margin-top: 45px;
}
h3 {
    font-size: 30px;
    border-bottom: 3px solid black;
    padding-bottom: 25px;
    margin: 30px 0 15px 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1240px;
    margin: 0 auto;
}
.main-content {
    display: flex;
}
.aside {
    width: 35%;
    background-color: rgba(105, 111, 124, 0.699);
}
.container {
    padding: 30px;
}
.avatar-img {
    margin: 0 auto;
}
.avatar-image {
    display: block;
    margin: 0 auto;
    border-radius: 25%;
    width: 80%;
}
.aside__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
section > p, section > ul li {
    font-size: 20px;
}
.contact-icon {
    margin-right: 15px;
    width: 24px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 65%;
    padding: 0 15px;
    background: linear-gradient(rgba(168, 100, 214, 0.582), #FFFFFF);
}
.main-wrapper {
    width: 75%;
}
.education__paragraph {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background: linear-gradient(to left, #830f45d2, rgb(93, 88, 161) 50%, rgba(41, 41, 41, 0.788) 66%, rgba(105, 111, 124, 0.938));
    padding: 10px 30px;
}
.footer-item {
    display: flex;
    align-items: center; 
}
.contact-link {
    display: flex;
    align-items: center;
}
a:hover {
    color: #FFFFFF;
}


/* скрываем чекбокс */
#menu__toggle {
  opacity: 1;
  display: none;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  top: 30px;
  left: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.hamburger-menu {
    position: fixed;
    top: 0;
    left:  0;
    right: 0;
    bottom: 0;
    height: 0px;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition: all 0.5s;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fcf7f7;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #d9dfdc;
}
#menu__toggle:checked ~ .menu__btn > span {
    transition: all 0.5s;
    transform: rotate(45deg);
    background-color: #1a180c;
}
#menu__toggle:checked ~ .menu__btn > span::before {
    transition: all 0.5s;
    top: 0;
    transform: rotate(0);
    background-color: #1a180c;
}
#menu__toggle:checked ~ .menu__btn > span::after {
    transition: all 0.5s;
    top: 0;
    transform: rotate(90deg);
    background-color: #1a180c;
}
#menu__toggle:checked ~ .menu__box {
  display: flex;
}

@media (min-width: 1200px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}
@media (max-width: 479px) {
    .wrapper {
        max-width: 479px;
        flex: 1 1 100% ;
    }
    .main-wrapper {
        width: 100%;
    }
    .aside {
        width: 100%;
    }
    .main-content {
        flex-direction: column;
    }
    h1 {
        font-size: 30px;
    }
    .contacts a {
        font-size: 18px;
    }
    pre {
        font-size: 12px;
    }
    .wrapper {
        overflow: hidden;
    }
}